$color-background: #000;
$color-background-rgb: 0, 0, 0;
$color-background-contrast: #fff;
$color-background-contrast-rgb: 255, 255, 255;

$color-primary: #FFC44A;
$color-primary-rgb: 255, 196, 74;
$color-primary-contrast: #000000;
$color-primary-contrast-rgb: 0, 0, 0;

$color-dark: #1C1C1E;
$color-dark-rgb: 28, 28, 30;
$color-dark-contrast: #fff;
$color-dark-contrast-rgb: 255, 255, 255;

$color-medium: #989aa2;
$color-medium-rgb: 152, 154, 162;
$color-medium-contrast: #fff;
$color-medium-contrast-rgb: 255, 255, 255;

$color-success: #1DFCB7;
$color-progress: #fcc81d;
$color-danger: #f53d3d;
